.root { 
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.label{
    -fx-text-fill: lightgray;
}



.button{
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-text-fill: white;
}



.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
} 



.list-cell:even,

.table-row-cell:even {
	-fx-control-inner-background: derive(-fx-base, 30%);
}

.list-cell:odd,
.table-row-cell:odd{    
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-view {
	-fx-selection-bar: #0091c9;
	-fx-selection-bar-non-focused: derive(-fx-base, 50%);
}



.text-area {
    -fx-prompt-text-fill: #b3b3b3;
}
.text-field {
    -fx-prompt-text-fill: #b3b3b3;
}


#upvoteButton:selected {
    -fx-background-color: #538D00;
}

#downvoteButton:selected {
    -fx-background-color: #8D1900;
}

#tagLabel {
	-fx-font-size: 20px;
	-fx-font-family: Verdana;
}

#pinnedQuestionTitleLabel,
#questionTitleLabel {
	-fx-font-size: 15px;
	-fx-font-family: Verdana;
	-fx-font-weight: bold;
	-fx-cursor: hand;
}

#pinnedQuestionTitleLabel {
	-fx-text-fill: #5d9e00;
}

#descriptionLabel {
	-fx-font-size: 13px;
	-fx-font-family: Verdana;
}

#votesTickerPositive {
	-fx-text-fill: #42AB00;
}

#votesTickerNegative {
	-fx-text-fill: #C43700;
}

#votesTickerPositive,
#votesTickerNegative,
#votesTickerZero {
	-fx-font-size: 15px;
	-fx-font-family: "Lucida Console";
	-fx-font-weight: bold;
}

#editButton {
	-fx-graphic: url("/images/edit_dark.png");
}

#deleteButton {
	-fx-graphic: url("/images/delete_dark.png");
}

#pinButton {
	-fx-graphic: url("/images/pin_dark.png");
}

#markSolvedButton:selected,
#pinButton:selected {
    -fx-background-color: #538D00;
}

#reportButton {
	-fx-graphic: url("/images/report_dark.png");
}

#markSolvedButton {
	-fx-graphic: url("/images/marksolved_dark.png");
}

#markedSolvedLabel {
	-fx-font-size: 20px;
	-fx-text-fill: #6bb500;
}


#noResultsLabel {
	-fx-font-size: 15px;
	-fx-font-family: Verdana;
	
}

#langBtn {
	-fx-graphic: url("/images/lang_dark.png");
}

.tooltip {
	-fx-font-size: 14px;        
	-fx-font-weight: normal;
	-fx-font-style: normal;
}  
