.root { 
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.label{
    -fx-text-fill: lightgray;
}

.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button{
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-text-fill: white;
}

.separator *.line { 
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
} 

.table-view{
    /*-fx-background-color: derive(-fx-base, 10%);*/
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header .label{
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.list-cell:even,

.table-row-cell:even {
	-fx-control-inner-background: derive(-fx-base, 30%);
}

.list-cell:odd,
.table-row-cell:odd{    
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-view {
	-fx-selection-bar: #0091c9;
	-fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}


.text-area {
    -fx-prompt-text-fill: #b3b3b3;
}
.text-field {
    -fx-prompt-text-fill: #b3b3b3;
}


#upvoteButton:selected {
    -fx-background-color: #538D00;
}

#downvoteButton:selected {
    -fx-background-color: #8D1900;
}

#tagLabel {
	-fx-font-size: 16px;
	-fx-font-family: Verdana;
	-fx-font-weight: bold;
}

#pinnedQuestionTitleLabel,
#questionTitleLabel {
	-fx-font-size: 15px;
	-fx-font-family: Verdana;
	-fx-font-weight: bold;
	-fx-cursor: hand;
}

#pinnedQuestionTitleLabel {
	-fx-text-fill: #5d9e00;
}

#descriptionLabel {
	-fx-font-size: 13px;
	-fx-font-family: Verdana;
}

#votesTickerPositive {
	-fx-text-fill: #42AB00;
}

#votesTickerNegative {
	-fx-text-fill: #C43700;
}

#votesTickerPositive,
#votesTickerNegative,
#votesTickerZero {
	-fx-font-size: 15px;
	-fx-font-family: "Lucida Console";
	-fx-font-weight: bold;
}

#editButton {
	-fx-graphic: url("/com/qrequest/resources/images/edit_dark.png");
}

#deleteButton {
	-fx-graphic: url("/com/qrequest/resources/images/delete_dark.png");
}

#pinButton {
	-fx-graphic: url("/com/qrequest/resources/images/pin_dark.png");
}

#pinButton:selected {
    -fx-background-color: #538D00;
}

#reportButton {
	-fx-graphic: url("/com/qrequest/resources/images/report_dark.png");
}

#noResultsLabel {
	-fx-font-size: 15px;
	-fx-font-family: Verdana;
}
